<% layout("/layouts/boilerplate1.ejs") %>

<div class="row mt-3">
    <div class="col-12 col-md-5 offset-md-3">
        <br><br><br>
        <h2>Forgot Password</h2>
        <form action="/forgot-password" method="POST" novalidate class="needs-validation">
            
            <div class="md-3">
                <label for="email" class="form-lable">Enter your email:</label>
                <input name="email" 
                    type="text"
                    class="form-control" 
                    id="email"
                    required>
                
            </div>
            <br>
            <button type="submit" class="login">Send Code</button>
        </form>
        
    </div>
</div>









