<% layout("/layouts/boilerplate1.ejs") %>
<div class="container">
    <div class="status-message">
       <h1> Booking is Cancelled</h1>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
</style>