
<nav class="navbar navbar-expand-lg bg-body-light border-bottom">
    <div class="container-fluid nav1 d-flex align-items-center">
        <a class="navbar-brand d-flex align-items-center gap-2" href="/listings">
            <i class="fa-solid fa-registered fa-2xl" style="color: #fe424d;"></i>
            <span class="fw-bold fs-4 roomly">Roomly</span>
        </a>
    </div>
</nav>


  
